<section class="section-container">
    <!-- Box 1 -->
    <div class="box box-one">
      <div class="overlay"></div>
        <div class="heading">
        <h2>Launch within a Week,<span id="text1" style="color: rgba(78,219,255, 0.90);">Templates</span></h2>
        </div>
        <div class="para">
        <p>We have a deep understanding of Gyms, Palates Studios, Health clinics, Accounting practices and more. Start your Clinic App, Gym App, Hospitality App, Accounting App or Broker App with our template… fast!
        </p>
        </div>
        <div class="text-button">
        <button>App Templates</button>
      </div>
      <div class="below-button-img ">
        <img id="img1" src="../../assets/mobile 1.png" alt="Image Below Button">
    </div>
    </div>
    <!-- Box 2 -->
    <div class="box box-two">
      <div class="overlay"></div>
      <!-- <div class="content"> -->
        <div class="heading">
        <h2>Supercharge Your <span class="text2" style="color: #ff8641E6;">Business</span></h2>
        </div>
        <div class="para">
        <p>Prepare to revolutionise your small business! With your cost-effective custom mobile app, get ready to boost leads, amplify sales, and enhance client retention like never before.
        </p>
        </div>
        <div class="text-button">
        <button>Custom Apps</button>
        </div>
      <!-- </div> -->

      <div class="below-button-img img2">
        <img id="img2" src="../../assets/mobile 2" alt="Image Below Button">
    </div>
    </div>
    <!-- Box 3 -->
    <div class="box box-three">
      <div class="overlay"></div>
      <!-- <div class="content"> -->
        <div class="heading">
        <h2>More Business for Your <span id="text3" style="color: #ff1451e6;">Agency</span></h2>
        </div>
        <div class="para">
        <p>Distinguish your digital marketing or graphic agency from the rest by offering a unique value proposition: Affordable no code / low code custom app development that sets your business clients apart.</p>
        </div>
        <div class="text-button">
        <button>Partner with us</button>
        </div>
      <!-- </div> -->
      <div class="below-button-img img3">
        <img id="img3" src="../../assets/mobile 3.png" alt="Image Below Button">
    </div>
    </div>
  </section>