/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fc;
  color: #333;
}

/* Container Styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c34ea;
  border-radius: 10px;
  max-width: 1200px;
  margin: 50px auto 30px;
  padding: 15px 10px 30px 10px;
  position: relative; /* For positioning child elements */
}

/* Left Section: Text Content */
.inner-container {
  /* flex: 1; */
  background-color: #8c34ea;
  color: #fff;
  border-radius: 10px;
  padding: 0px 30px 40px 30px;
  text-align: left;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 1; /* Ensure it stacks behind the phone */
}

.inner-container .heading h1 {
  font-family: plus-jakarta-sans, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inner-container .description p {
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 25px;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.inner-container .cta-button {
  display: inline-block;
  background-color: #fff;
  color: #8c34ea;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1.5px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.inner-container .cta-button:hover {
  background-color: #8c34ea;
  color: #fff;
}

.inner-container .disclaimer p {
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: Inter, sans-serif;
}

/* Right Section: Image */
.container2 {
  position: relative;
  flex: 1; /* Reserve equal space for the image */
}

.container2 .image img {
  position: absolute;
  bottom: 0; /* Align with the bottom of the text section */
  right: 1; /* Position the image to the right edge */
  max-width: 70%;
  margin-bottom: -183px;
  /* height: auto; */
  z-index: 2; /* Ensure it appears above the text section */
  /* transform: translate(10%, 10%); Adjust for slight overlap */
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px ;
    margin: 0px 10px 20px 10px;
  }

  .inner-container {
    width: 100%;
    text-align: center;
  }

  .container2 .image img {
    position: static; /* Reset positioning for smaller screens */
    max-width: 100%;
    transform: none;
    margin-bottom: 0;
  }
}
