/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-box {
    padding: 50px 0px; /* Space inside the blue box */
    text-align: center; /* Center align text */
    max-width: 900px; /* Limit width */
    width: 100%;
  }
  
  .content-box h1 {
    color: #120644; /* Dark blue text color */
    font-size: 4rem; /* Heading font size */
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .content-box p {
    color: #8c34ea; /* Purple text color */
    font-size: 1.2rem; /* Paragraph font size */
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }


  @media (max-width: 1080px) {
    .content-box {
      padding: 20px;
    }
  
    .content-box h1 {
      font-size: 2.5rem;
    }
  
    .content-box p {
      font-size: 1rem;
    }
  }
  